# Virtual environment
venv/

# Database
*.sqlite3

# Django migrations
*/migrations/*

# Bytecode files
*.pyc
__pycache__/

# Environment variables
.env

# Static and media files
/staticfiles/
/media/

